# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
logs/
*.log

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Airflow
airflow/logs/
airflow/airflow.db

# Docker
*.pid

# Temporary Files
*.tmp
*.bak

# Data generated during pipeline execution
data/parquet/